<div class="form-edit">
<h1>Edit Your Profile</h1>

<%= form_for(@profile) do |f| %>
<% if @profile.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% @profile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div>
  <%= f.label :contactnum, "Phone Number:" %>
  <div class ="actions">
    <%= f.text_field :contactnum %>
  </div>
</div>

<div>
  <%= f.label :about, "About Me:" %>
  <div class ="actions">
    <%= f.text_area :about, :class => "textarea", :style => "height: 100px;" %>
  </div>
</div>

<div class="actions">
  <%= f.submit "submit", :class => "customButton" %>
</div>
<% end %>

<%= button_to 'Back', profile_path(@profile), :method => :get, :class => "cancelButton" %>


</div>