<div class ="userleft">

</div>
<%= filepicker_image_tag @profile.picture_url, w: 300, h: 300, fit: 'clip' %>
<div class = "userright">
<p id="notice"><%= notice %></p>
<div class = "inplaceform" id = "<%= @profile.id %>">
<p><%= @users.name %></p>
<p>
  <b>About:</b>
  <%= best_in_place @profile, :about %>
</p>

<p>
  <b>Contactnum:</b>
  <%= best_in_place @profile, :contactnum %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>
</div>
</div>