
<div class="container" style = "margin-top:30px; border: 1px solid #e5e5e5; background-color:#F8F8F8; border-radius: 5px">

<div class="row">

  <div class="span5">
    <% if @profile.picture_url != nil %>
    	<%= filepicker_image_tag @profile.picture_url, :class => "profilepic" %>
    <% else %>
    	<img src="../assets/images/default-avatar.jpg" class = "profilepic">
    <% end %>
    <div style="margin-left: 55px;">
      <%= render 'form' %>
    </div>
  </div>

  <div class="span7" style="margin-top: 40px; margin-left: 20px;">

    <h1><%= current_user.name %></h1>
    <p>
      <h4>About:</h4>
      <%= best_in_place @profile, :about %>
    </p>
<!--     <p>
      <h4>Number:</h4>
      <%= best_in_place @profile, :contactnum %>
    </p> -->
    <br />
    <h2>Recent Comments:</h2>
   
    <% @comments.each do |comment| %>
      <p class = "recent"><%= link_to "'" + comment.body + "'", review_path(comment.discussion_id) %> on <%= comment.created_at %> </p>
    <% end %>
  </div>
</div>
</div>
