
<div class="container" id="profile-container">

  <div class="row">

    <div class="span5">
      <% if @profile.picture_url != nil %>
      <%= filepicker_image_tag @profile.picture_url, :class => "profilepic" %>
      <% else %>
      <img src="../assets/default-avatar.jpg" class = "profilepic">
      <% end %>

      <% if @user == current_user %>
      <div id="profile-form">
        <%= render 'form' %>
      </div>

      <% end %>
    </div>

    <div class="span7" id="profile-info">

      <h1><%= @user.name %></h1>
      <p>

        <h4>Email:</h4>
        <%= @user.email %>

        <h4>Phone:</h4>
        <%= @profile.contactnum %>

        <h4>About:</h4>
        <%= @profile.about %>
      </p>

      <% if @user == current_user %>
      <%= button_to "Edit Profile Info", edit_profile_path(@profile), :class => "cancelButton", :method => :get %>
      <% end %>
      <br />
      <h2>Recent Comments:</h2>

        <% @comments.each do |comment| %>
        <p class = "recent"><%= link_to "'" + comment.body + "'", review_path(comment.discussion.review_id) %> at <%= comment.created_at.strftime(" %I:%M %p on %B %d, %Y") %> </p>
        <% end %>

    </div>
  </div>
</div>
