<!-- start a new discussion form -->
<div id="newDiscussionForm" class="well discussion" style="width: 560px;">
  <%= form_for [@review, @review.discussions.build] do |f| %>
  <% if @discussion.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

    <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<!-- body of a comment (first in the discussion) -->
  <div class="field">
    <textarea name="body" rows="4" cols="50"></textarea>
  </div>

  <!-- a checkbox for anonymous posting -->
  <div class="field">
    <input type="checkbox" name="anonymous">
    <%= label_tag 'anonymous', 'Post Anonymously?', :class=>"checkbox inline" %>
  </div>

  <br>

  <table>
    <th>
      <div class="actions">
        <%= f.submit "Post", :class => "customButton" %>
      </div>
    </th>
    <th>
      <div class="actions">

        <input type="button" class = "cancelButton" id="cancelDiscussionButton" value="Cancel">
      </div>
    </th>
  </table>
  <% end %>
</div>
