
<div id="newDiscussionForm" class="well">
  <%= form_for [@review, @review.discussions.build] do |f| %>
  <% if @discussion.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

    <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= label_tag 'private', 'Private', :class=>"checkbox inline" %>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <textarea name="body" class="textarea"></textarea>
  </div>

  <table>
    <th>
      <div class="actions">
        <%= f.submit "Post", :class => "customButton" %>
      </div>
    </th>

    <th>
      <div class="actions">

        <input type="button" class = "cancelButton" id="cancelDiscussionButton" value="Cancel">
      </div>
    </th>
  </table>
  <% end %>
</div>
