<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Review</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.body %></td>
    <td><%= discussion.review %></td>
    <td><%= link_to 'Show', review_discussion_path(discussion.review, discussion) %></td>
    <td><%= link_to 'Edit', edit_review_discussion_path(discussion.review, discussion) %></td>
    <td><%= link_to 'Destroy', review_discussion_path(discussion.review, discussion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

