<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @discussion.body %>
</p>

<p>
  <b>Review:</b>
  <%= @discussion.review %>
</p>


<%= link_to 'Edit', edit_review_discussion_path(@discussion.review, @discussion) %> |
<%= link_to 'Back', review_discussions_path %>
