<div class="comments accordion-group">

  <div class="first_comment">
      <% comment = @comments.first %>
      <% user = comment.user %>

      <% if current_user == comment.user %>
        <b>You said, </b>
      <% else %>
        <b><%= comment.public_name %>, </b>     
      <% end %>

       <span><%= comment.created_at.strftime(" %I:%M %p on %B %d, %Y") %></span>
      <p>
      <%= comment.body %>
      </p>
  </div>

  <div class="accordion-header">
    <!-- add hidden input to keep track of toggling to change message -->
    <input type="hidden" class="hidden-boolean" value='collapsed'>
    <% if @comments.size > 1 %>
      <a class="message">Show Follow Up Comments</a>
    <% end %>
  </div>

  <div class="follow_up_comments accordion-group collapse">
  <% @comments.each do |comment| %>
    <% if comment != @comments.first %>
    <div class="comment">
      <div class="comment_heading">
      	<% user = comment.user %>
      	<% if current_user == user %>
          <% if comment.public_name == "Anonymous" %>
            <b>(ANONYMOUS POST) You said,</b>
          <% else %>
            <b>You said, </b>
          <% end %>
        <% else %>
        <b><%= comment.public_name %>, </b>     
        <% end %>
      	<span><%= comment.created_at.strftime(" %I:%M %p on %B %d, %Y") %></span>
      </div>
      <p>
        <%= comment.body %>
      </p>
    </div>
    <%end%>
   <% end %>
  </div>
</div>
