<div class="comments accordion-group">

  <div class="first_comment">
      <% comment = @comments.first %>
      <% user = comment.user %>
      <b><%= user.name %>, </b>
       <span><%= comment.created_at.strftime(" %I:%M %p on %B %d, %Y") %></span>
      <p>
      <%= comment.body %>
      </p>
  </div>

  <div class="accordion-header">
    <!-- add hidden input to keep track of toggling to change message -->
    <input type="hidden" class="hidden-boolean" value='collapsed'>
    <a class="message">Show Follow Up Comments</a>
  </div>

  <div class="follow_up_comments accordion-group collapse">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="comment_heading">
      	<% user = comment.user %>
      	<b><%= user.name %>, </b>
      	<span><%= comment.created_at.strftime(" %I:%M %p on %B %d, %Y") %></span>
      </div>
      <p>
        <%= comment.body %>
      </p>
    </div>
   <% end %>
  </div>
</div>
