<div id="addPartnerForm" class="partner-form">

<h4>New Partner</h4>

<%= form_for [@company, @partner] do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Partner Name<br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Add Partner", :class => "customButton" %>
</div>
<input type="button" id="cancelPartnerForm" value="Cancel" class="cancelButton">
<% end %>

</div>