<div id="partners">

    <h2>Partners</h2>

 <table>
  <tr>
    <th>Name</th>
    <th>Avg rating</th>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.name %></td>
    <td><%= partner.avg_rating %></td>
    <td><%= partner.id %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_company_partner_path(:company_id => partner.company_id, :parter => partner) %></td>
    <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>