<script>

$(document).ready(function(){

  $('#addReviewButton').click(function(){
    $('#partner_reviews').prepend('<%= escape_javascript( render(:partial=>"reviews/form")).html_safe %>').hide().fadeIn('fast');
    $('.star').rating();
    $('#addReviewButton').hide();
  });

  $('body').on('click', '#cancelNewReviewButton', function(event){
    $('#addReviewForm').fadeOut('fast', function() {
      $(this).remove();
      $('#addReviewButton').show();
    });
  });
});

</script>

<script>

$(function() {
  $('#partner-info span.stars').stars();
});
</script>


<div class="container">

  <div id="navigation">
    <% @id = @partner.company_id%>
    <%= link_to '< Back to Company', company_path(@id) %>
  </div>

  <p id="notice"><%= notice %></p>

  <!-- partner information goes here -->
  <div id="partner-info">
    <h3><%= @partner.name %></h3>
    <h4><%= @partner.email %></h4>
    <p>
      <% if @partner.avg_rating < 0 %>
      <b>Average Rating:</b> Not yet rated!
      <% else %>
      <b>Average Rating:</b> <span class="stars"><%= @partner.avg_rating %></span>
      <% end %>
    </p>

    <%= button_to 'Edit Partner', edit_partner_path(@partner), :method => "get", :class => "cancelButton" %>

    <br>
  </div>

  <!-- partner review goes here -->
  <div id="partner_reviews">
    <input class="customButton" type="button" id = "addReviewButton" value="New Review">
    <br>
    <%= render "reviews/reviews" %>
  </div>

</div>

