<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
  <span><%= link_to 'Edit', edit_partner_path(@partner) %></span>
</p>

<p>
  <b>Avg rating:</b>
    <% if @partner.avg_rating < 0 %>
        Not enough data.
    <% else %>
        <%= @partner.avg_rating %>
    <% end %>
</p>

<%= render "reviews/reviews" %>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
