<div id="navigation">
 	<% @id = @partner.company_id%>
  <%= link_to '< Back to Company', company_path(@id) %>
</div>

<p id="notice"><%= notice %></p>


<div class = "mainpanel">

  <h3><%= @partner.name %></h3>
<p>
    <% if @partner.avg_rating < 0 %>
        Not yet rated!
    <% else %>
        <%= @partner.avg_rating %>
    <% end %>
	</p>
<%= render "reviews/reviews" %>
<%= render "reviews/form" %>


<%= link_to 'Edit', edit_partner_path(@partner) %> 
</div>

