<div id="navigation">
  <%= link_to '< Back to Company', company_path %>
</div>

<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p>
  <b>Name:</b>
  <%= @partner.name %>
  <span><%= link_to 'Edit', edit_partner_path(@partner) %></span>
  <b>Company:</b>
  <%= @partner.company.name %>
  <span><%= link_to 'Go to Company', company_path(@partner.company) %></span>
  <b>Company:</b>
  <%= @partner.company.name %><br>
  <span><%= link_to 'Go to Company', company_path(@partner.company) %></span>

</p>
=======
<div class = "mainpanel">
>>>>>>> a165f4efc60bf0b1951ef89ef388b5e35dbb558b

  <h3><%= @partner.name %></h3>
<p>
    <% if @partner.avg_rating < 0 %>
        Not yet rated!
    <% else %>
        <%= @partner.avg_rating %>
    <% end %>
	</p>
<%= render "reviews/reviews" %>
<%= render "reviews/form" %>


<%= link_to 'Edit', edit_partner_path(@partner) %> 
</div>
