  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <table>
    <tr>
      <th><%=sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "avg_rating" %></th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @companies.each do |company| %>
    <tr>
      <td><%= link_to company.name, company %></td>
      <td><%= company.category %></td>
      <td><%= company.avg_rating %></td>
      <td><%= company.description %></td>
      <td><%= company.url %></td>
    </tr>
  <% end %>
  </table>

  <%= will_paginate @companies %>
