  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

<!--   <table>
    <tr>
      <th><%=sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "avg_rating" %></th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->

  <% @companies.each do |company| %>

      <div class = "entry">
        <h3><%= link_to company.name, company %></h3>
      <a href = "<%= company.url %>" target="_blank" style ="color:#00aedb"><%= company.url %></a> <br>
      <b>Category: </b><td><%= company.category %></td> <br>
      <b>Location: </b><td><%= company.location %></td> <br>
      <b>Rating: </b>
      <% if company.avg_rating < 0 %>
        <td>Not yet rated! </td>
      <% else %>
        <td><%= company.avg_rating %></td>
        <!--           <div class='rating'>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          </div> -->
      <% end %>
        <div class = "description">
          <br>
          <%= company.description %></div>
    </div>

  <% end %>
<!--   </table> -->

  <%= will_paginate @companies %>
