<script>

$(function() {
  $('.entry span.stars').stars();
});

</script>


<!-- required for sorting correctly -->
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% @companies.each do |company| %>
  <div class = "entry">
    <h3><%= link_to company.name, company %></h3>

    <% if company.avg_rating < 0 %>
      <!-- when a company does not have reviews, the avg_rating is set to -1 -->
      <td>Not yet rated! </td> <br>
    <% else %>
      <!-- otherwise, show stars -->
      <span class="stars"> <%= company.avg_rating %> </span>
    <% end %>

    <a href = "<%= company.url %>"><%= url_with_protocol (@company.url) %></a> <br>
    <b>Category: </b><td><%= company.category %></td> <br>
    <b>Location: </b><td><%= company.location %></td> <br>

    <div class = "description">
      <br>
      <%= truncate(company.description, :length => 500, :omission => '...') %></div>
    </div>

<% end %>

<!-- needed for using will_paginate for pagination -->
<%= will_paginate @companies %>
