  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

<!--   <table>
    <tr>
      <th><%=sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "avg_rating" %></th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->

  <% @companies.each do |company| %>

      <div class = "entry">
        <h3><%= link_to company.name, company %></h3>
<!--       <td><%= company.category %></td> -->
      <td>
        <% if company.avg_rating < 0 %>
        Not yet rated!
        <% else %>
          <label>Rating:</label>
          <%= company.avg_rating %>
<!--           <div class='rating'>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          <input name="starrating" type="radio" class="star" disabled="disabled"/>
          </div> -->
        <% end %>

      </td>
        <div class = "description"><%= company.description %></div>
    </div>

  <% end %>
<!--   </table> -->

  <%= will_paginate @companies %>
