  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

<!--   <table>
    <tr>
      <th><%=sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "avg_rating" %></th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->

  <% @companies.each do |company| %>

      <div class = "entry">
        <h3><%= link_to company.name, company %></h3>
<!--       <td><%= company.category %></td> -->
      <td><%= company.avg_rating %></td>
        <div class = "description"><%= company.description %></div>
        <div class = "url"><%= company.url %></div>
    </div>

  <% end %>
<!--   </table> -->

  <%= will_paginate @companies %>
