<%= form_for @company do |f|%>

  <div class="field">
    Company Name<br />
    <%= f.text_field :name, :placeholder => "Y Combinator" %>
  </div>

  <div class="field">
    Category <br />
    <%= f.text_field :category, :placeholder => "VC, Accelerator, Law, ..." %>
  </div>

  <div class="field">
    Website URL<br />
    <%= f.text_field :url, :placeholder => "http://ycombinator.com/" %>
  </div>

  <div class="field">
    Location<br />
    <%= f.text_field :location, :placeholder => "Mountain View, CA" %>
  </div>

  <div class="field">
    Short Description<br />
    <%= f.text_area :description, :placeholder => "An American seed accelerator that provides seed money, advice, and connections at two 3-mounnth programs per year in exchange for ~6% equity." %>
  </div>

  <div>
    <%= f.submit "Add Company", :class => "btn btn-primary" %>
  </div>
<% end %>
