<div class="container">

    <div class="row">
        <div class="span2">
            <br>
            <br>

            <h3>Sort by... </h3>

            <div class = "categories">
               <%= sortable "category", "Category" %>
           </div>

           <div class = "categories">
               <%= sortable "avg_rating", "Rating" %>
           </div>

           <div class = "categories">
               <%= sortable "location", "Location" %>
           </div>

           <div class = "categories">
               <%= sortable "name", "Company Name" %>
           </div>

           <br>

            <h3>Filter by... </h3>

            <h4> Categories </h4>

            <div class = "categories">
               <%= link_to "Accelerators & Incubators", :controller => "companies", :action => "index",:category => "Accelerators & Incubators" %>
           </div>

            <div class = "categories">
               <%= link_to "Angel Investors", :controller => "companies", :action => "index",:category => "Angel Investors" %>
           </div>

            <div class = "categories">
               <%= link_to "Finance", :controller => "companies", :action => "index",:category => "Finance" %>
           </div>

            <div class = "categories">
               <%= link_to "Law", :controller => "companies", :action => "index",:category => "Law" %>
           </div>

           <div class = "categories">
               <%= link_to "Venture Capital", :controller => "companies", :action => "index",:category => "Venture Capital" %>
           </div>

           <div class = "categories">
               <%= link_to "Other", :controller => "companies", :action => "index",:category => "Other" %>
           </div>

           <div style="margin-bottom: 10px;">
            <%= link_to "(Show All)", :controller => "companies", :action => "index" %>
          </div>

            <h4> Ranking </h4>

            <span class="stars">4</span>
            <span class="stars">3</span>
            <span class="stars">2</span>
            <span class="stars">1</span>
            <span class="stars">0</span>

            <div style="margin-top: 10px; margin-bottom: 10px;">
            <%= link_to "(Show All)", :controller => "companies", :action => "index" %>
          </div>

<!--            <h4> Categories </h4>

            <div class = "categories">
               Accelerators & Incubators
           </div>

            <div class = "categories">
               Angel Investment
           </div>

            <div class = "categories">
               Finance
           </div>

            <div class = "categories">
               Law
           </div>

           <div class = "categories">
               Venture Capital
           </div> -->

       </div>

       <div class = "span10">
            <h1> Companies </h1>

           <div class = "searchbar">
               <%= form_tag companies_path, :method => 'get', :id => "companies_search" do %>
               <p><%= text_field_tag :search, params[:search],:placeholder => "Search" %></p>
           </div>

           <div class="customButton" style="width: 50px; height: 25px; text-align: center; float: center; padding: 5px; padding-bottom: 0px;">
            <%= link_to 'Add Company', new_company_path, :style => "color: white; float: center; text-align: center; font-size: 16px; " %>
        </div>

           <div id="companies"><%= render 'companies' %></div>
           <% end %>

       </div>
   </div>

</div>


