<div class="container">

    <div class="form-edit">


        <div class="control-group">

            <h2 class="form-edit-heading">Add Company</h2>
            <table>
                <td>
                 <%= form_tag new_company_path, :method => 'get', :id => "input_search_crunchbase" do %>


                 <th><%= text_field_tag :search, params[:search],:placeholder => "What's the name of the company?", :class=>"input-block-level", :style => "width: 400px;" %></th>
                 <th><%= submit_tag "Search", :class => "customButton", :style => "height: 38px; margin-bottom: 16px; min-width: 80px; margin-left: 5px; margin-right: 5px;" %></th>
                 <% end %>

                 <th><%= button_to 'Cancel', companies_path, :style => "height: 38px; margin-bottom: 16px; min-width: 80px; ", :class => "cancelButton", :method => :get %></th>

             </td>

         </table>

     </div>

     <div id="crunchbase_companies">

        <% if @crunchbase_companies %>
        <% @crunchbase_companies.each do |company| %>
        <div><%= company.name %></div>
        <% end %>

        <br>
        <% end %>

        <a href=<%= new_company_path %> id="show_add_form">Didn't see the company you are looking for? Click here.</a>

    </div>




    <div id="add_company_form">
        <h2 class="form-edit-heading">Add Company</h2>
        <%= render 'form' %>
        <%= button_to 'Cancel', companies_path, :style => "color: white; height: 100%; width: 100px;", :class => "cancelButton", :method => :get %>
    </div>


</div>
</div>