
<script>

$(document).ready(function(){

		//Render add partner form
		$('#addPartnerButton').click(function(){
			$('#addReviewForm').remove();
			//use partners form to add a new partner
			$('#partners').prepend('<%= escape_javascript( render(:partial=>"partners/form")).html_safe %>');
			$('#addPartnerButton').hide();
		});

		//Cancel add partner form
		$('body').on('click', '#cancelPartnerForm', function(event){
			$('#addPartnerForm').remove();
			$('#addPartnerButton').show();
		});

		//Render add review form
		$('#addReviewButton').click(function(){
			$('#addPartnerForm').remove();
			$('#reviews').prepend('<%= escape_javascript( render(:partial=>"reviews/form")).html_safe %>');
			$('#addReviewButton').hide();
		});

		//Cancel review form
		$('body').on('click', '#cancelNewReviewButton', function(event){
			$('#addReviewForm').remove();
			$('#addReviewButton').show();
		});

	});



</script>


<div class="container">
	<div id="navigation">
		<%= link_to '< Back to Results', root_url %>
	</div>
	<div id="companyinfo">
		<h2 style ="text-align:center"><a href ="<%=@company.url %>" target = "_blank"><%= @company.name %></a></h2>
		<p><%= @company.description %></p>

	</div>

	<div class="row">

		<div class="span6">
			<div id="reviews" style="float: left; text-allign: left;">
				<h3>Reviews</h3>

				<input class ="customButton" id = "addReviewButton" type="button" value="New Review">

				<%= render "reviews/reviews" %>


			</div>

		</div>

		<div class="span6" style="float: right; text-allign: right;">

			<div class="partners"  style="float: right; text-allign: right;">
				<h3>Partners</h3>


				<input class="customButton" id = "addPartnerButton" type="button" value="Add Partner">

				<%= render "partners/partners" %>
			</div>
		</div>

	</div>

</div>
