
<script>

	$(document).ready(function(){

		//Render add partner form
		$('#addPartnerButton').click(function(){
			//use partners form to add a new partner
			$('#partners').append('<%= escape_javascript( render(:partial=>"partners/form")).html_safe %>');
			$('#addPartnerButton').hide();
		});

		//Cancel add partner form
		$('body').on('click', '#cancelPartnerForm', function(event){
			$('#addPartnerForm').remove();
			$('#addPartnerButton').show();
		});

		//Render add review form
		$('#addReviewButton').click(function(){
			$('#reviews').prepend('<%= escape_javascript( render(:partial=>"reviews/form")).html_safe %>');
			$('#addReviewButton').hide();
		});

		//Cancel review form
		$('body').on('click', '#cancelReviewForm', function(event){
			$('#addReviewForm').remove();
			$('#addReviewButton').show();
		});

	});



</script>

<div id="company_info" class="well">
	<h1><%= @company.name %></h1>
	<div class="categories"><%= @company.category %></div>
	<div class="description"><%= @company.description %></div>
	<div class="contact-info">
		<label>Contact Information:</label>
		<%= @company.url %>
	</div>

</div>

<div id="partners" >
	<%= render "partners/partners" %>
	<input id="addPartnerButton" type="button" value="Add Partner">


	<div id="addPartnerForm" style="display: none;">
		<h2>Add a Partner </h2>

		<%= form_for [@company, @company.partners.build] do |f| %>
		  <% if @partner.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

		      <ul>
		      <% @partner.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
		<input type="button" id="cancelPartnerForm" value="Cancel">

	</div>

</div>

<div id="reviews">
	<input id="addReviewButton" type="button" value="New Review">
	<%= render "reviews/reviews" %>
</div>

<div id="navigation">
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>
</div>