<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>


<div id="companies" >
    <%= render "companies/companies" %>
    <%= form_for [@category, @category.companies.build] do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :url %><br />
        <%= f.text_field :url %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

</div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
