<div id="addReviewForm">

<%= form_for [@reviewable, Review.new] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <input name="star1" type="radio" class="star">    
    <input name="star1" type="radio" class="star">
    <input name="star1" type="radio" class="star">
    <input name="star1" type="radio" class="star">
    <input name="star1" type="radio" class="star">
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

</div>
