<div id="reviews">

    <h2>Reviews</h2>


    <% @reviews.each do |review| %>
    <div class="review">
        <b class="reviewTitle"><%= '"'+review.title+'"' %></b><br>
        <%= review.rating %>
        <%= simple_format review.body %>
        <%= review.user.email %>
        <%= link_to "show", review %>

    </div>
    <% end %>


</div>