<!-- listing a review for a company or partner -->

<script>

$(function() {
    $('.review span.stars').stars();
});

</script>

<div id="reviews">
    <% @reviews.each do |review| %>
    <div class="review">
        <h4 class="reviewTitle"><%= link_to '"'+review.title+'"', review %></h4>
        <span class="stars"><%= review.rating %></span>

        <div style="font-size: 16px;">
            <% if current_user == review.user %>
            <% if review.public_name == "Anonymous" %>
            <b>You wrote, anonymously: </b>
            <% else %>
            <b>You wrote: </b>
            <% end %>
            <% else %>
            <% if review.public_name == "Anonymous" %>
            <b><%= review.public_name %> wrote:<b>
                <% else %>
                <b><%= link_to review.public_name, profile_path(review.user) %> wrote:<b>
                    <% end %>
                    <% end %>

                    <% if review.pros && review.cons %>

                    <p><b>Pros: </b><%= review.pros.html_safe %></p>

                    <p><b>Cons: </b><%= review.cons.html_safe %></p>

                    <% end %>
                    <% if review.body %>
                    <p><b>Detail: </b> <%= review.body.html_safe %></p>
                    <% end %>
                </div>
            </div>
            <% end %>


        </div>