<script>

  $(document).ready(function(){

    //establish hostname
    var hostname = location.protocol + '//' + location.host

    //start with all comments collapsed
    // $('.accordion-group').collapse();

    $('#addDiscussionButton').click(function(){
        $('#discussions').prepend('<%= escape_javascript( render(:partial=>"discussions/form")).html_safe %>').hide().fadeIn('slow');
        $('#addDiscussionButton').hide();
    });

    $('body').on('click', '#cancelDiscussionButton', function(event){
      $('#newDiscussionForm').fadeOut('fast', function() {
          $(this).remove();
          $('#addDiscussionButton').show();
      });
    });

  $('body').on('click', '.createCommentButton', function(event){
      var url = hostname+'/createComment'
      var commentBody = $(this).parent().find('.newCommentText').val();
      if(commentBody == ""){
        if( $(this).parent().children('.comment-body-error').length == 0){
          $(this).parent().append("<div class='comment-body-error'><p>Must Enter a Comment!</p></div>");
        }
      }
      else{
        //remove any error messages
        $(this).parent().find('.comment-body-error').remove();

        var strid = $(this).parent().parent().attr("id");
        var id = strid.split('-')[1];
        var comment = {body: commentBody};
        var anonymous = $(this).parent().find('.anonymous').prop('checked');
        var data = {comment: comment, discussion_id: id, anonymous: anonymous};
        $.post(url, data, function(d){
          $.post(hostname+'/getUser/', {user_id: d.user_id}, function(d2){
          var username = d2.name;
          var displayAnon = "";
          if (anonymous == true) {
            displayAnon = ", anonymously"
          }
          $('#discussion-'+id).find('.comments').append('<div class="comment"><div class="comment_heading"><b> You wrote' + displayAnon + ': </b></div><p>'+d.body+'</div>');
          $('#discussion-'+id).find('.newCommentText').val('');
          });
        });
      }
    });

  $('body').on('click', '.accordion-header', function(event){
    $(this).parent().find('.accordion-group').collapse('toggle');
    var toggle = $(this).find('.hidden-boolean').val();

    //if it is now not collapsed
    if(toggle=='collapsed'){
      $(this).find('.message').text("Hide follow up Comments");
      $(this).find('.hidden-boolean').val('not collapsed');
    }
    else{
      $(this).find('.message').text("Show follow up Comments");
      $(this).find('.hidden-boolean').val('collapsed');
    }
  });


  });

</script>


<script>

$(function() {
    $('#reviewinfo span.stars').stars();
});

</script>

<div class = "container">

<div id="navigation">
  <% @id = @review.reviewable_id%>
  <%= link_to '< Back to Company', company_path(@id) %>
</div>

<p id="notice"><%= notice %></p>
<div id = "reviewinfo">

  <h3><%= '"' + @review.title + '"'%></h3>
  <span class="stars"><%= @review.rating %></span>
  <div id = "reviewbody" style="font-size: 18px;">
      <% if current_user == @review.user %>
          <% if @review.public_name == "Anonymous" %>
            <b>You wrote, anonymously:</b>
          <% else %>
            <b>You wrote: </b>
          <% end %>
        <% else %>
          <% if @review.public_name == "Anonymous" %>
            <b><%= @review.public_name %> wrote:</b>
          <% else %>
            <b><%= link_to @review.public_name, profile_path(@review.user) %> wrote:</b>
          <% end %>
        <% end %>
    <h4><%= @review.body.html_safe %></h4>
  </div><br>



</div>

<div id="discussions">
  <input class="customButton" type="button" id = "addDiscussionButton" value="New Discussion">
  <%= render "discussions/discussions" %>
</div>

</div>