<script>

  $(document).ready(function(){

    //establish hostname
    var hostname = location.protocol + '//' + location.host

    //start with all comments collapsed
    // $('.accordion-group').collapse();

    $('#addDiscussionButton').click(function(){
        $('#discussions').prepend('<%= escape_javascript( render(:partial=>"discussions/form")).html_safe %>').hide().fadeIn('slow');
        $('#addDiscussionButton').hide();
    });

    $('body').on('click', '#cancelDiscussionButton', function(event){
      $('#newDiscussionForm').fadeOut('fast', function() {
          $(this).remove();
          $('#addDiscussionButton').show();
      });
    });

  $('body').on('click', '#createCommentButton', function(event){
      var url = hostname+'/createComment'
      var commentBody = $(this).parent().find('.newCommentText').val();
      var strid = $(this).parent().parent().attr("id");
      var id = strid.split('-')[1];
      var comment = {body: commentBody};
      var anonymous = $(this).parent().find('.anonymous').is(':checked');
      var data = {comment: comment, discussion_id: id};
      $.post(url, data, function(d){
        $.post(hostname+'/getUser/', {user_id: d.user_id}, function(d2){
         var username = d2.name;

        $('#discussion-'+id).find('.comments').append('<div class="comment freshly-added"><div class="comment_heading"><b> You said: </b><span> '+d.created_at+' </span></div><p>'+d.body+'</div>');
        $('#discussion-'+id).find('.newCommentText').val('');
        });
      });
    });

  $('body').on('click', '.accordion-header', function(event){
    $(this).parent().find('.accordion-group').collapse('toggle');
    var toggle = $(this).find('.hidden-boolean').val();

    //if it is now not collapsed
    if(toggle=='collapsed'){
      $(this).find('.message').text("Hide follow up Comments");
      $(this).find('.hidden-boolean').val('not collapsed');
    }
    else{
      $(this).find('.message').text("Show follow up Comments");
      $(this).find('.hidden-boolean').val('collapsed');
    }
  });


  });

</script>


<script>

$(function() {
    $('#reviewinfo span.stars').stars();
});

</script>

<div class = "container">

<div id="navigation">
  <% @id = @review.reviewable_id%>
  <%= link_to '< Back to Company', company_path(@id) %>
</div>

<p id="notice"><%= notice %></p>
<div id = "reviewinfo">
  <h3><%= '"' + @review.title + '"'%></h3>
  <span class="stars"><%= @review.rating %></span> <br>
  <div id = "reviewbody">
    <h4><%= simple_format @review.body %></h4>
  </div><br>



</div>

<div id="discussions">
  <input class="customButton" type="button" id = "addDiscussionButton" value="New Discussion">
  <%= render "discussions/discussions" %>
</div>

</div>