<script>

  $(document).ready(function(){

    var hostname = location.protocol + '//' + location.host


    $('#addDiscussionButton').click(function(){
        $('#discussions').prepend('<%= escape_javascript( render(:partial=>"discussions/form")).html_safe %>').hide().fadeIn('fast');
        $('#addDiscussionButton').hide();
    });

    $('body').on('click', '.cancelDiscussionButton', function(event){
      $('#newDiscussionForm').fadeOut('fast', function() {
          $(this).remove();
          $('#addDiscussionButton').show();
      });
    });

  $('body').on('click', '.createCommentButton', function(event){
      var url = hostname+'/createComment'
      var commentBody = $(this).parent().find('.newCommentText').val();
      var strid = $(this).parent().parent().attr("id");
      var id = strid.split('-')[1];
      var comment = {body: commentBody};
      var data = {comment: comment, discussion_id: id};
      $.post(url, data, function(d){
        $('#discussion-'+id).find('.comments').append('<p>'+d.body+'</p>');
        $('#discussion-'+id).find('.newCommentText').val('');
      });
    }); 
    

  });

</script>


<p id="notice"><%= notice %></p>

<%= @review.user_id %>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>User:</b>
  <%= @review.user %>
</p>

<p>
  <b>Reviewable:</b>
  <%= @review.reviewable_id %>
</p>

<p>
  <b>Reviewable type:</b>
  <%= @review.reviewable_type %>
</p>

<div id="discussions">
  <input id="addDiscussionButton" type="button" value="New Comment">
  <%= render "discussions/discussions" %>
</div>


