<script>

  $(document).ready(function(){

    $('#addDiscussionButton').click(function(){
        $('#discussions').prepend('<%= escape_javascript( render(:partial=>"discussions/form")).html_safe %>').hide().fadeIn('fast');
        $('#addDiscussionButton').hide();
    });

    $('body').on('click', '#cancelDiscussionButton', function(event){
      $('#newDiscussionForm').fadeOut('fast', function() {
          $(this).remove();
          $('#addDiscussionButton').show();

      });
    }); 

  });
</script>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>User:</b>
  <%= @review.user %>
</p>

<p>
  <b>Reviewable:</b>
  <%= @review.reviewable_id %>
</p>

<p>
  <b>Reviewable type:</b>
  <%= @review.reviewable_type %>
</p>

<div id="discussions">
  <input id="addDiscussionButton" type="button" value="New Discussion" >
  <%= render "discussions/discussions" %>
</div>


