<script>

  $(document).ready(function(){

    var hostname = location.protocol + '//' + location.host


    $('#addDiscussionButton').click(function(){
        $('#discussions').prepend('<%= escape_javascript( render(:partial=>"discussions/form")).html_safe %>').hide().fadeIn('fast');
        $('#addDiscussionButton').hide();
    });

    $('body').on('click', '#cancelDiscussionButton', function(event){
      $('#newDiscussionForm').fadeOut('fast', function() {
          $(this).remove();
          $('#addDiscussionButton').show();
      });
    });

  $('body').on('click', '#createCommentButton', function(event){
      var url = hostname+'/createComment'
      var commentBody = $(this).parent().find('.newCommentText').val();
      var strid = $(this).parent().parent().attr("id");
      var id = strid.split('-')[1];
      var comment = {body: commentBody};
      var data = {comment: comment, discussion_id: id};
      $.post(url, data, function(d){
        $('#discussion-'+id).find('.comments').append('<p>'+d.body+'</p>');
        $('#discussion-'+id).find('.newCommentText').val('');
      });
    }); 
    

  });

</script>
<div id="navigation">
  <%= link_to '< Back to Company', company_path %>
</div>

<p id="notice"><%= notice %></p>
<div class = "mainpanel">
<div id = "reviewinfo">
  <h3><%= '"' + @review.title + '"'%></h3>
  <div id = "reviewbody">
    <p><%= @review.body %></p>
  </div>



<p>
  <b>Reviewable:</b>
  <%= @review.reviewable_id %>
</p>

<p>
  <b>Reviewable type:</b>
  <%= @review.reviewable_type %>
</p>
</div>

<div id="discussions">
  <input class="customButton" type="button" id = "addDiscussionButton" value="New Discussion">
  <%= render "discussions/discussions" %>
</div>

</div>