<!DOCTYPE html>
<html>
<head>
  <title>Azure</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag	"jquery.rating" %>
  <%= stylesheet_link_tag	"bootstrap" %>
  <%= stylesheet_link_tag "flat-ui" %>
  <%= stylesheet_link_tag	"custom" %>
  <%= stylesheet_link_tag "companies" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.rating.pack" %>
  <%= javascript_include_tag "displayrating" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
   <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner" style = "background-color:#2C3E50; background-image:none;">


        <div class="container">
          <%= link_to "StartMart", root_path, :class => 'brand' %>
          <ul class= "nav pull-right">
              <% if user_signed_in? %>

              <li><%= link_to(current_user.name, profile_path(current_user.id)) %></li>
              <li><%= link_to("Logout", destroy_user_session_path, :method=> 'delete') %></li>
              <% end %>
          </ul>
        </div>
      </nav>
    </header>

</head>
<body>


<ul>
</ul>

<%= yield %>

</body>
</html>
