<!DOCTYPE html>
<html>
<head>
  <title>Azure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	"jquery.rating" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.rating.pack" %>
  <%= csrf_meta_tags %>


</head>
<body>


<ul>
<%= render "shared/nav" %>
</ul>

<%= yield %>

</body>
</html>
